<!-- системный администратор добавляет врачей и администраторов в систему -->

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Добавление сотрудника</title>
<link rel="stylesheet" href="/styles/css/basic_list.css">
<link rel="stylesheet" href="/styles/css/basic_form.css">
<link rel="stylesheet" href="/styles/css/basic_nav.css">
<link rel="stylesheet" href="/styles/css/list.css">
</head>
<body>
    <header>
        <!-- Navbar -->
        <nav>
            <ul>
                <li><a href="/clients">Управлять клиентами</a></li>
                <li><a href="/doctor_schedule">Управлять расписанием врачей</a></li>
                <li><a href="/confirmed_bookings">Подтвержденные записи</a></li>
                <li><a href="/unconfirmed_bookings">Неподтвержденные записи</a></li>
                <li><a href="/make_appointment">Записть клиента</a></li>
                <li><a href="#">Выход</a></li>
            </ul>
        </nav>
    </header>
    <ul class="info">
        <li>Имя - <%= client.name %></li>
        <li>Фамилия - <%= client.second_name %></li>
        <li>Отчество - <%= client.third_name %></li>
        <li>Пасспорт - <%= client.passport %></li>
        <li>Телефон - <%= client.phone %></li>
        <li>Email - <%= client.email %></li>
    </ul>

    <h2 style="text-align: center;">Животные</h1>

    <div class="add-container">
        <input type="text" class="dataInput" id="nameAdd" placeholder="Название">
        <input type="text" class="dataInput" id="breedAdd" placeholder="Порода">
        <input type="text" class="dataInput" id="nicknameAdd" placeholder="Кличка">
        <input type="text" class="dataInput" id="passportAdd" placeholder="Пасспорт животного">
        <input type="text" class="dataInput" id="ageAdd" placeholder="Возраст">
        <input type="text" class="dataInput" id="weightAdd" placeholder="Вес">
        <input type="text" class="dataInput" id="imageAdd" placeholder="Картинка">
        <button id="addButton">Добавить</button>
    </div>

    <div class="edit-container">
        <input type="text" class="dataInput" id="nameEdit" placeholder="Название">
        <input type="text" class="dataInput" id="breedEdit" placeholder="Порода">
        <input type="text" class="dataInput" id="nicknameEdit" placeholder="Кличка">
        <input type="text" class="dataInput" id="passportEdit" placeholder="Пасспорт животного">
        <input type="text" class="dataInput" id="ageEdit" placeholder="Возраст">
        <input type="text" class="dataInput" id="weightEdit" placeholder="Вес">
        <input type="text" class="dataInput" id="imageEdit" placeholder="Картинка">
        <button id="editButton">Изменить</button>
    </div>

    <div class="filter-container">
        <input type="text" class="dataInput" id="idSearch" placeholder="ID">
        <input type="text" class="dataInput" id="nameSearch" placeholder="Название">
        <input type="text" class="dataInput" id="breedSearch" placeholder="Порода">
        <input type="text" class="dataInput" id="nicknameSearch" placeholder="Кличка">
        <input type="text" class="dataInput" id="passportSearch" placeholder="Пасспорт животного">
        <input type="text" class="dataInput" id="ageSearch" placeholder="Возраст">
        <input type="text" class="dataInput" id="weightSearch" placeholder="Вес">
        <input type="text" class="dataInput" id="imageSearch" placeholder="Картинка">
        <button id="searchButton">Поиск</button>
    </div>


    <div class="pet-list" id="petListContainer">
        <div id="petTableContainer">
            <table class="pet-table" id="petTable">
                <thead>
                    <tr>
                        <th>Название</th>
                        <th>Кличка</th>
                        <th>Порода</th>
                        <th>Пасспорт животного</th>
                        <th>Возраст</th>
                        <th>Карточка животного</th>
                    </tr>
                </thead>
                <tbody>
                    <% pets.forEach(pet => { %>
                        <tr>
                            <td><%= pet.type %></td>
                            <td><%= pet.name %></td>
                            <td><%= pet.breed %></td>
                            <td><%= pet.animal_passport %></td>
                            <td><%= pet.age %></td>
                            <td><a href="/clients/<%= client._id %>/pets/<%= pet._id %>">Больше</a></td>
                        </tr>
                      <% }); %>
                </tbody>
            </table>
        </div>
    </div>
    <script>
    </script>
</body>
</html>