<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Добавление сотрудника</title>
<link rel="stylesheet" href="/styles/css/basic_list.css">
<link rel="stylesheet" href="/styles/css/basic_form.css">
<link rel="stylesheet" href="/styles/css/basic_nav.css">
<link rel="stylesheet" href="/styles/css/modal.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/clients">Управлять клиентами</a></li>
                <li><a href="/doctor_schedule">Управлять расписанием врачей</a></li>
                <li><a href="/confirmed_bookings">Подтвержденные записи</a></li>
                <li><a href="/unconfirmed_bookings">Неподтвержденные записи</a></li>
                <li><a href="/make_appointment">Записть клиента</a></li>
                <li><a href="/logout">Выход</a></li>
            </ul>
        </nav>
    </header>
    <div class="add-container">
        <form id="addForm">
            <input name="name" type="text" class="dataInput" id="nameAdd" placeholder="Имя">
            <input name="second_name" type="text" class="dataInput" id="surnameAdd" placeholder="Фамилия">
            <input name="third_name" type="text" class="dataInput" id="fatherNameAdd" placeholder="Отчество">
            <input name="email" type="text" class="dataInput" id="emailAdd" placeholder="Email">
            <input name="passport" type="text" class="dataInput" id="passportAdd" placeholder="Пасспорт">
            <input name="password" type="text" class="dataInput" id="passwordAdd" placeholder="Пароль">
            <input name="phone" type="text" class="dataInput" id="phoneAdd" placeholder="Телефон">
            <button type="submit" id="addButton">Добавить</button>
        </form>
    </div>
    <div class="filter-container">
        <form id="filterForm">
            <input name="name" type="text" class="dataInput" id="nameSearch" placeholder="Имя">
            <input name="second_name" type="text" class="dataInput" id="surnameSearch" placeholder="Фамилия">
            <input name="third_name" type="text" class="dataInput" id="fatherNameSearch" placeholder="Отчество">
            <input name="email" type="text" class="dataInput" id="emailSearch" placeholder="Email">
            <input name="passport" type="text" class="dataInput" id="passportSearch" placeholder="Пасспорт">
            <input name="phone" type="text" class="dataInput" id="phoneSearch" placeholder="Телефон">
            <button type="submit" id="searchButton">Поиск</button>
        </form>
    </div>
    <div id="editModal" class="modal">
        <div class="modal-content">
          <span class="close-button">&times;</span>
          <h2>Edit Service</h2>
          <form id="editForm">
            <label for="clientPassport">Пасспорт:</label>
            <input type="text" name="passport"  id="clientPassport" placeholder="Пасспорт">
            <label for="clientName">Имя:</label>
            <input type="text" name="name" id="clientName" placeholder="Имя">
            <label for="clientSecondName">Фамилия:</label>
            <input type="text" name="second_name" id="clientSecondName" placeholder="Фамилия">
            <label for="clientThirdName">Отчество:</label>
            <input type="text" name="third_name" id="clientThirdName" placeholder="Отчество">
            <label for="clientEmail">Email:</label>
            <input type="text" name="email" id="clientEmail" placeholder="Email">
            <label for="clientPhone">Телефон:</label>
            <input type="text" name="phone" id="clientPhone" placeholder="Телефон">
            <button type="submit">Save Changes</button>
          </form>
        </div>
      </div>
    <div class="client-list" id="clientListContainer">
        <div id="clientTableContainer">
            <table class="client-table" id="clientTable">
                <thead>
                    <tr>
                        <th>Пасспорт</th>
                        <th>Имя</th>
                        <th>Фамилия</th>
                        <th>Отчество</th>
                        <th>Email</th>
                        <th>Телефон</th>
                        <th>Изменить</th>
                        <th>Удалить</th>
                        <th>Питомцы</th>
                    </tr>
                </thead>
                <tbody>
                    <% clients.forEach(client => { %>
                        <tr id="<%= client._id %>">
                            <td><%= client.passport %></td>
                            <td><%= client.name %></td>
                            <td><%= client.second_name %></td>
                            <td><%= client.third_name %></td>
                            <td><%= client.email %></td>
                            <td><%= client.phone %></td>
                            <td><button id="edt<%= client._id %>">Изменить</button></td>
                            <td><button class="redBtn" id="del<%= client._id %>">Удалить</button></td>
                            <td><a href="/clients/<%= client._id %>/pets">Больше</a></td>
                        </tr>
                      <% }); %>
                </tbody>
            </table>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/scripts/clients.js">
    </script>
</body>
</html>