<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Добавление сотрудника</title>
<link rel="stylesheet" href="/styles/css/basic_list.css">
<link rel="stylesheet" href="/styles/css/basic_form.css">
<link rel="stylesheet" href="/styles/css/basic_nav.css">
<link rel="stylesheet" href="/styles/css/modal.css">
<link rel="stylesheet" href="/styles/css/list.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/clients">Управлять клиентами</a></li>
                <li><a href="/doctor_schedule">Управлять расписанием врачей</a></li>
                <li><a href="/confirmed_bookings">Подтвержденные записи</a></li>
                <li><a href="/unconfirmed_bookings">Неподтвержденные записи</a></li>
                <li><a href="/make_appointment">Записть клиента</a></li>
                <li><a href="/logout">Выход</a></li>
            </ul>
        </nav>
    </header>
    <ul class="info">
        <li>Имя - <%= client.name %></li>
        <li>Фамилия - <%= client.second_name %></li>
        <li>Отчество - <%= client.third_name %></li>
        <li>Пасспорт - <%= client.passport %></li>
        <li>Телефон - <%= client.phone %></li>
        <li>Email - <%= client.email %></li>
        <li style="display: none;">
            <span class="client-id"><%= client._id %></span> 
        </li> 
    </ul>

    <h2 style="text-align: center;">Животные</h2>

    <div class="add-container">
        <form id="addForm">
            <input type="hidden" name="client_id" value="<%= client._id %>"> 
            <input name="type" type="text" class="dataInput" id="nameAdd" placeholder="Название">
            <input name="breed" type="text" class="dataInput" id="breedAdd" placeholder="Порода">
            <input name="name" type="text" class="dataInput" id="nicknameAdd" placeholder="Кличка">
            <input name="animal_passport" type="text" class="dataInput" id="passportAdd" placeholder="Пасспорт животного">
            <input name="age" type="text" class="dataInput" id="ageAdd" placeholder="Возраст">
            <button type="submit" id="addButton">Добавить</button>
        </form>
    </div>

    <div class="filter-container">
        <form id="filterForm">
            <input name="type" type="text" class="dataInput" id="nameSearch" placeholder="Название">
            <input name="breed" type="text" class="dataInput" id="breedSearch" placeholder="Порода">
            <input name="name" type="text" class="dataInput" id="nicknameSearch" placeholder="Кличка">
            <input name="animal_passport" type="text" class="dataInput" id="passportSearch" placeholder="Пасспорт животного">
            <input name="age" type="text" class="dataInput" id="ageSearch" placeholder="Возраст">
            <button type="submit" id="searchButton">Поиск</button>
        </form>
    </div>



    <div id="editModal" class="modal">
        <div class="modal-content">
          <span class="close-button">&times;</span>
          <h2>Edit Service</h2>
          <form id="editForm">
            <label for="animalPassport">Пасспорт животного:</label>
            <input type="text" name="animal_passport"  id="animalPassport" placeholder="Пасспорт животного">
            <label for="animalName">Кличка:</label>
            <input type="text" name="name" id="animalName" placeholder="Кличка">
            <label for="animalType">Название:</label>
            <input type="text" name="type" id="animalType" placeholder="Название">
            <label for="animalBreed">Отчество:</label>
            <input type="text" name="breed" id="animalBreed" placeholder="Порода">
            <label for="animalAge">Восзраст:</label>
            <input type="text" name="age" id="animalAge" placeholder="Возраст">
            <button type="submit">Сохранить изменения</button>
          </form>
        </div>
      </div>


    <div class="pet-list" id="petListContainer">
        <div id="petTableContainer">
            <table class="pet-table" id="animalTable">
                <thead>
                    <tr>
                        <th>Название</th>
                        <th>Кличка</th>
                        <th>Порода</th>
                        <th>Пасспорт животного</th>
                        <th>Возраст</th>
                        <th>Изменить</th>
                        <th>Удалить</th>
                    </tr>
                </thead>
                <tbody>
                    <% pets.forEach(pet => { %>
                        <tr id="<%= pet._id %>">
                            <td><%= pet.type %></td>
                            <td><%= pet.name %></td>
                            <td><%= pet.breed %></td>
                            <td><%= pet.animal_passport %></td>
                            <td><%= pet.age %></td>
                            <td><button id="edt<%= pet._id %>">Изменить</button></td>
                            <td><button class="redBtn" id="del<%= pet._id %>">Удалить</button></td>
                        </tr>
                      <% }); %>
                </tbody>
            </table>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/scripts/client.js">
    </script>
</body>
</html>