<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Свободное расписание</title>
<link rel="stylesheet" href="/styles/css/doctor_schedule.css">
<link rel="stylesheet" href="/styles/css/basic_nav.css">
<style>
    .green-text {
        color: green;
    }

    .red-text {
        color: red;
    }
    .blue-text {
        color: red;
    }
</style>
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="/clients">Управлять клиентами</a></li>
                <li><a href="/doctor_schedule">Управлять расписанием врачей</a></li>
                <li><a href="/confirmed_bookings">Подтвержденные записи</a></li>
                <li><a href="/unconfirmed_bookings">Неподтвержденные записи</a></li>
                <li><a href="/make_appointment">Записть клиента</a></li>
                <li><a href="/logout">Выход</a></li>
        </ul>
    </nav>
</header>
<main>
    <h1>Врачи</h1>
    <div class="schedule">
        <div class="doctorSchedule">
            <% doctors.forEach(doctor => { %>
                <div class="doctorInfo">
                    <p><%= doctor.name %> <%= doctor.second_name %> <%= doctor.third_name %></p>
                    <label for="date">Дата:</label>
                    <input id="<%= doctor._id %>" name="date" type="date">
                    <hr>
                    <form class="add-entry-form">
                        <input type="hidden" name="doctor_id" value="<%= doctor._id %>">
                        <label for="time">Время:</label>
                        <input name="appointment_time" type="time" placeholder="Time">
                        <select name="service_id" id="service_type">
                            <% services.forEach(service => { %>
                                <option  value="<%= service._id %>"><%= service.name %></option>
                            <% }); %>
                        </select>
                        <br>
                        <button type="submit" class="addBtn">Добавить</button>
                    </form>
                </div>
            <% }); %>
        </div>
    </div>
</main>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script type="text/javascript" src="/scripts/schedule.js">
</script>
</body>
</html>