<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Свободное расписание</title>
<link rel="stylesheet" href="/styles/css/doctor_schedule.css">
<link rel="stylesheet" href="/styles/css/basic_nav.css">
</head>
<body>

<header>
    <nav>
        <ul>
            <li><a href="/clients">Управлять клиентами</a></li>
                <li><a href="/doctor_schedule">Управлять расписанием врачей</a></li>
                <li><a href="/confirmed_bookings">Подтвержденные записи</a></li>
                <li><a href="/unconfirmed_bookings">Неподтвержденные записи</a></li>
                <li><a href="/make_appointment">Записть клиента</a></li>
                <li><a href="#">Выход</a></li>
        </ul>
    </nav>
</header>
<main>
    <div class="filters">
        <label for="date">Дата:</label>
        <input type="date" id="date">
        <label for="service">Услуга:</label>
        <select id="service">
            <% services.forEach(service => { %>
                <option value="<%= service._id %>"><%= service.name %></option>
            <% }); %>
        </select>
        <label for="doctor">Врач:</label>
        <button id="filterBtn">Применить фильтры</button>
    </div>

    <div class="schedule">
        <div class="doctorSchedule">
            <% doctors.forEach(doctor => { %>
                <div class="doctorInfo">
                    <p><%= doctor.name %> <%= doctor.second_name %> <%= doctor.third_name %></p>
                    
                    <div class="scheduleEntry">
                        <span>10:00 - Услуга 1</span>
                        <button class="deleteBtn">&#10006;</button>
                    </div>
                    <div class="scheduleEntry">
                        <span>11:00 - Услуга 2</span>
                        <button class="deleteBtn">&#10006;</button>
                    </div>
                    <hr>
                    <form class="add-entry-form">
                        <input type="hidden" name="doctor_id" value="<%= doctor._id %>">
                        <input type="hidden" name="date" value="<%= doctor._id %>">
                        <input name="appointment_time" type="time" placeholder="Time">
                        <select name="service_id" id="service_type">
                            <% services.forEach(service => { %>
                                <option  value="<%= service._id %>"><%= service.name %></option>
                            <% }); %>
                        </select>
                        <br>
                        <button type="submit" class="addBtn">Добавить</button>
                    </form>
                </div>
            <% }); %>
        </div>

        <!-- Добавьте расписание для других врачей -->
    </div>
</main>


<script>
    // script.js
    document.getElementById('filterBtn').addEventListener('click', function() {
        // Implement filter logic here
    });

    const editButtons = document.querySelectorAll('.editBtn');
    editButtons.forEach(button => {
        button.addEventListener('click', function() {
            // Implement edit logic here
        });
    });

    const deleteButtons = document.querySelectorAll('.deleteBtn');
    deleteButtons.forEach(button => {
        button.addEventListener('click', function() {
            // Implement delete logic here
        });
    });

    const addEntryForms = document.querySelectorAll('.add-entry-form');
    addEntryForms.forEach(addEntryForm => {
        addEntryForm.addEventListener('submit', (event) => {
            event.preventDefault();
            const formData = new FormData(addEntryForm);
            console.log(formData);


            fetch(`/doctor_schedule`, {
                method: 'POST',
                body: formData
            })
                .then(response => {
                // Handle successful update
                if (response.status == 200){
                    console.log(response);
                    location.reload();
                }
                })
                .catch(error => {
                    console.log(error);
            });
        });
    });
</script>
</body>
</html>