<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Свободное расписание</title>
<link rel="stylesheet" href="/styles/css/doctor_schedule.css">
<link rel="stylesheet" href="/styles/css/basic_nav.css">
</head>
<body>

<header>
    <nav>
        <ul>
            <li><a href="/clients">Управлять клиентами</a></li>
                <li><a href="/doctor_schedule">Управлять расписанием врачей</a></li>
                <li><a href="/confirmed_bookings">Подтвержденные записи</a></li>
                <li><a href="/unconfirmed_bookings">Неподтвержденные записи</a></li>
                <li><a href="/make_appointment">Записть клиента</a></li>
                <li><a href="#">Выход</a></li>
        </ul>
    </nav>
</header>
<main>
    <div class="filters">
        <form action="/doctor_schedule" id="filter-schedule">
            <label for="date">Дата:</label>
            <input id="selected-date" name="date" type="date" id="date">
            <label for="service">Услуга:</label>
            <button type="submit" id="filterBtn">Применить фильтры</button>
        </form>
    </div>

    <div class="schedule">
        <div class="doctorSchedule">
            <% doctors.forEach(doctor => { %>
                <div class="doctorInfo">
                    <p><%= doctor.name %> <%= doctor.second_name %> <%= doctor.third_name %></p>
                    <% doctor.appointments.forEach(appointment => { %>
                    <div class="scheduleEntry">
                        <span><%= appointment.service_name %> - <%= appointment.time %></span>
                        <button class="deleteBtn">&#10006;</button>
                    </div>
                    <% }); %>
                    <hr>
                    <form class="add-entry-form">
                        <input type="hidden" name="doctor_id" value="<%= doctor._id %>">
                        <input name="appointment_time" type="time" placeholder="Time">
                        <select name="service_id" id="service_type">
                            <% services.forEach(service => { %>
                                <option  value="<%= service._id %>"><%= service.name %></option>
                            <% }); %>
                        </select>
                        <br>
                        <button type="submit" class="addBtn">Добавить</button>
                    </form>
                </div>
            <% }); %>
        </div>
    </div>
</main>


<script>

    function refresh_doctor(parent, doctor_id){
        
        
        const scheduleEntries = parent.querySelectorAll('.scheduleEntry');
        scheduleEntries.forEach(entry => {
            entry.remove();
        });


        fetch(`/doctor_schedule/${doctor_id}`, {
            method: 'get',
        }).then(response => {
            console.log(response);
        }).catch(error => {
            console.log(error);
        });
        const pTag = parent.querySelector('p');
    }

    const addEntryForms = document.querySelectorAll('.add-entry-form');
    addEntryForms.forEach(addEntryForm => {
        addEntryForm.addEventListener('submit', (event) => {
            event.preventDefault();
            const formData = new FormData(addEntryForm);
            const date = document.getElementById("selected-date").value;
            formData.append('date', date); 


            fetch(`/doctor_schedule`, {
                method: 'POST',
                body: formData
            })
                .then(response => {
                // Handle successful update
                if (response.status == 201){
                    const parent = addEntryForm.parentElement;
                    console.log(response);
                    //refresh_doctor(parent);
                }
                })
                .catch(error => {
                    console.log(error);
            });
        });
    });

    // var filter_schedule = document.getElementById('filter-schedule');

    // filter_schedule.addEventListener('submit', (event) => {
    //     event.preventDefault();
    //     const date = document.getElementById('date').value;
    //     const serviceId = document.getElementById('service').value;
    //     // You might want to get the doctor ID as well if you have a doctor selection

    //     // Create an object to send as data
    //     const formData = {
    //         date: date,
    //         serviceId: serviceId,
    //     };

    //     // Send the data to the server using fetch (or another method like Axios)
    //     fetch('/doctor_schedule', {
    //         method: 'GET',
    //         headers: {
    //             'Content-Type': 'application/json'
    //         },
    //         body: JSON.stringify(formData)
    //     })
    //     .then(response => {
    //         if (!response.ok) {
    //             throw new Error('Network response was not ok');
    //         }
    //         return response.json(); // Assuming your server sends back JSON data
    //     })
    //     .then(data => {
    //         console.log('Server Response:', data); 
    //     })
    //     .catch(error => {
    //         console.error('Error:', error);
    //     });
    // });
</script>
</body>
</html>