<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/styles/css/make_appointment.css">
<link rel="stylesheet" href="/styles/css/basic_nav.css">
<link rel="stylesheet" href="/styles/css/list.css">
<link rel="stylesheet" href="/styles/css/bookings.css">
<link rel="stylesheet" href="/styles/css/doctor_schedule.css">
<title>Veterinary Clinic Booking</title>
</head>
<body>
    <header>
        <!-- Navbar -->
        <nav>
            <ul>
                <li><a href="/clients">Управлять клиентами</a></li>
                <li><a href="/doctor_schedule">Управлять расписанием врачей</a></li>
                <li><a href="/confirmed_bookings">Подтвержденные записи</a></li>
                <li><a href="/unconfirmed_bookings">Неподтвержденные записи</a></li>
                <li><a href="/make_appointment">Записть клиента</a></li>
                <li><a href="#">Выход</a></li>
            </ul>
        </nav>
    </header>
    <h1>Запись в ветеринарную клинику</h1>
    <div id="booking_filter" class="filter-container">
        <form id="clientForm" action="/clients/find_by_passport">
            <input name="passport" type="text" class="dataInput" id="passportSearch" placeholder="Серия и номер пасспорта">
            <button type="submit" id="searchButton">Поиск клиента</button>
        </form>
        <ul id="clientInfo" class="info">
            <li id="clientId">ID</li>
            <li id="clientName">Имя</li>
            <li id="clientSecondName">Фамилия</li>
            <li id="clientThirdName">Отчество</li>
            <li id="clientPassport">Пасспорт</li>
            <li id="clientPhone">Телефон</li>
            <li id="clientEmail">Email</li>
        </ul>
        <label for="pet-select">Питомцы</label>
        <select id="pet-select">

        </select>
    </div>
    

    <h1>Врачи</h1>
    <div class="schedule">
        <div class="doctorSchedule">
            <% doctors.forEach(doctor => { %>
                <div class="doctorInfo">
                    <p><%= doctor.name %> <%= doctor.second_name %> <%= doctor.third_name %></p>
                    <label for="date">Дата:</label>
                    <input id="<%= doctor._id %>" name="date" type="date">
                    <% doctor.appointments.forEach(appointment => { %>
                    <div id="<%= appointment._id %>" class="scheduleEntry">
                        <span><%= appointment.service_name %> - <%= appointment.time %></span>
                        <button class="bookBtn">+</button>
                    </div>
                    <% }); %>
                    <hr>
                </div>
            <% }); %>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/scripts/make_appointment.js"></script>
</body>
</html>