<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/styles/css/make_appointment.css">
<link rel="stylesheet" href="/styles/css/basic_nav.css">
<link rel="stylesheet" href="/styles/css/list.css">
<link rel="stylesheet" href="/styles/css/bookings.css">
<link rel="stylesheet" href="/styles/css/doctor_schedule.css">
<title>Veterinary Clinic Booking</title>
</head>
<body>
    <header>
        <!-- Navbar -->
        <nav>
            <ul>
                <li><a href="/clients">Управлять клиентами</a></li>
                <li><a href="/doctor_schedule">Управлять расписанием врачей</a></li>
                <li><a href="/confirmed_bookings">Подтвержденные записи</a></li>
                <li><a href="/unconfirmed_bookings">Неподтвержденные записи</a></li>
                <li><a href="/make_appointment">Записть клиента</a></li>
                <li><a href="#">Выход</a></li>
            </ul>
        </nav>
    </header>
    <h1>Запись в ветеринарную клинику</h1>
    <div id="booking_filter" class="filter-container">
        <form action="/clients/find_by_passport">
            <input name="passport" type="text" class="dataInput" id="passportSearch" placeholder="Серия и номер пасспорта">
            <button type="submit" id="searchButton">Поиск клиента</button>
        </form>
        <ul class="info">
            <li>ID</li>
            <li>Имя</li>
            <li>Фамилия</li>
            <li>Отчество</li>
            <li>Пасспорт</li>
            <li>Телефон</li>
            <li>Email</li>
        </ul>
    </div>
    

    <h1>Врачи</h1>
    <div class="schedule">
        <div class="doctorSchedule">
            <% doctors.forEach(doctor => { %>
                <div class="doctorInfo">
                    <p><%= doctor.name %> <%= doctor.second_name %> <%= doctor.third_name %></p>
                    <label for="date">Дата:</label>
                    <input id="<%= doctor._id %>" name="date" type="date">
                    <% doctor.appointments.forEach(appointment => { %>
                    <div id="<%= appointment._id %>" class="scheduleEntry">
                        <span><%= appointment.service_name %> - <%= appointment.time %></span>
                        <button class="bookBtn">+</button>
                    </div>
                    <% }); %>
                    <hr>
                </div>
            <% }); %>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>
        async function refresh_doctor_div(doctor_div, doctor_id, date) {
            try {
                date.setHours(date.getHours());
                console.log(date);
                const response = await $.ajax({
                    url: `/doctor_schedule/${doctor_id}?date=${date}`,
                    method: 'GET',
                    dataType: 'json',
                    success: function(data) {
                        console.log(data);
                        $(doctor_div).find('.scheduleEntry').remove();
                        var helper = $(doctor_div).find('hr');
                        var appointments = data.appointments;
                        appointments.forEach(function(appointment) {
                            var schedEntry = $('<div></div>').addClass('scheduleEntry').attr('id', appointment._id);
                            var span = $('<span></span>').text(`${appointment.service_name} - ${appointment.time}`);
                            var btn = $('<button></button>').addClass('bookBtn').text('+');
                            schedEntry.append(span).append(btn);
                            helper.before(schedEntry);
                        });
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });
            } catch (error) {
                console.log(error);
            }
        }

        async function handleDateChange(event) {
            try {
                const selectedDate = $(event.target).val();
                const doctor_id = $(event.target).attr('id');
                var date = new Date();
                if (selectedDate != "") {
                    date = new Date(selectedDate);
                }
                await refresh_doctor_div($(event.target).parent(), doctor_id, date);
            } catch (error) {
                console.error('Error:', error);
            }
        }


        function set_date() {
            $('input[type="date"]').each(function() {
                var selected_date = new Date().toISOString().slice(0, 10);
                $(this).val(selected_date).trigger('change');
            });
        }

        function add_change_date_handlers() {
            $('input[type="date"]').on('change', handleDateChange);
        }

        add_change_date_handlers();
        set_date();
    </script>
</body>
</html>