<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Информация по текущему приему</title>
    <link rel="stylesheet" href="/styles/css/appointment_info.css">
    <link rel="stylesheet" href="/styles/css/basic_nav.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/clients/<%= client._id %>/main">Животные</a></li>
                <li><a href="/clients/<%= client._id %>/appointments">Записи</a></li>
                <li><a href="/clients/<%= client._id %>/make_booking">Записать животное</a></li>
                <li><a href="#">Выход</a></li>
            </ul>
        </nav>
    </header>
    <div id="page-container">
        <h1>Информация по текущему приему</h1>
        <input type="hidden" id="page-id" value="<%=appointment.animal_card_page_id %>">
        <h2>Детали приема: </h2>
        <p>Тип приема: <%= appointment.service_name %></p>
        <p>Дата и время приема: <span id="datetime"><%= appointment.date %>  <%= appointment.time %></span></p>
        <p>Принимающий врач: <%= animal_doctor.name %> <%= animal_doctor.second_name %> <%= animal_doctor.third_name %></p>
        <p>Кличка животного: <span id="animalName"><%= animal.name %></span></p>
        <p>Название животного: <%= animal.type %></p>
        <p>Порода: <span id="breed"><%= animal.breed %></span></p>
        <p>Возраст: <span id="age"><%= animal.age%></span></p>
        <p id="status">Статус приема: <%= appointment.status %></p>
        <a href="/clients/<%= client._id %>/pets/<%= animal._id %>/card">Карточка животного</a>
        <hr>
        <h2>Проведенные операции:</h2>
        <ul id="procedureList">
        </ul>
        <hr>
        <h2>Симптомы животного: </h2>
        <ul id="symptomsList">
        </ul>
        <hr>
        <h2>Поставленный диагноз: </h2>
        <ul id="diagnosisList">
        </ul>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/scripts/card_page.js"></script>
</body>
</html>