<!-- на этой странице отображаются все животные. Их записи и ссылки на мед книжки -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/css/basic_list.css">
    <link rel="stylesheet" href="/styles/css/basic_form.css">
    <link rel="stylesheet" href="/styles/css/basic_nav.css">
    <link rel="stylesheet" href="/styles/css/list.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/clients/<%= client._id %>/main">Животные</a></li>
                <li><a href="/clients/<%= client._id %>/appointments">Записи</a></li>
                <li><a href="/clients/<%= client._id %>/make_booking">Записать животное</a></li>
                <li><a href="#">Выход</a></li>
            </ul>
        </nav>
    </header>
    <ul class="info">
        <li>Имя - <%= client.name %></li>
        <li>Фамилия - <%= client.second_name %></li>
        <li>Отчество - <%= client.third_name %></li>
        <li>Пасспорт - <%= client.passport %></li>
        <li>Телефон - <%= client.phone %></li>
        <li>Email - <%= client.email %></li>
        <li style="display: none;">
            <span class="client-id"><%= client._id %></span> 
        </li> 
    </ul>
    <h2 style="text-align: center;">Животные</h2>
    <div class="filter-container">
        <form id="filterForm">
            <input name="type" type="text" class="dataInput" id="nameSearch" placeholder="Название">
            <input name="breed" type="text" class="dataInput" id="breedSearch" placeholder="Порода">
            <input name="name" type="text" class="dataInput" id="nicknameSearch" placeholder="Кличка">
            <input name="animal_passport" type="text" class="dataInput" id="passportSearch" placeholder="Пасспорт животного">
            <input name="age" type="text" class="dataInput" id="ageSearch" placeholder="Возраст">
            <button type="submit" id="searchButton">Поиск</button>
        </form>
    </div>
   
    <div class="pet-list" id="petListContainer">
        <div id="petTableContainer">
            <table class="pet-table" id="animalTable">
                <thead>
                    <tr>
                        <th>Название</th>
                        <th>Кличка</th>
                        <th>Порода</th>
                        <th>Пасспорт животного</th>
                        <th>Возраст</th>
                        <th>Карточка животного</th>
                    </tr>
                </thead>
                <tbody>
                    <% pets.forEach(pet => { %>
                        <tr>
                            <td><%= pet.type %></td>
                            <td><%= pet.name %></td>
                            <td><%= pet.breed %></td>
                            <td><%= pet.animal_passport %></td>
                            <td><%= pet.age %></td>
                            <td><a href="/clients/<%=client._id %>/pets/<%= pet._id %>/card">Больше</a></td>
                        </tr>
                      <% }); %>
                </tbody>
            </table>
        </div>
    </div>
    <script>
    </script>
</body>
</html>