<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Добавление сотрудника</title>
<link rel="stylesheet" href="/styles/css/basic_list.css">
<link rel="stylesheet" href="/styles/css/basic_form.css">
<link rel="stylesheet" href="/styles/css/basic_nav.css">
<link rel="stylesheet" href="/styles/css/modal.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/workers">Управлять персоналом</a></li>
                <li><a href="/services">Управлять услугами</a></li>
                <li><a href="/logout">Выход</a></li>
            </ul>
        </nav>
    </header>
    <div class="add-container">
        <form id="addForm">
            <input name="passport" type="text" class="dataInput" id="passportAdd" placeholder="Пасспорт">
            <input name="name" type="text" class="dataInput" id="nameAdd" placeholder="Имя">
            <input name="second_name" type="text" class="dataInput" id="surnameAdd" placeholder="Фамилия">
            <input name="third_name" type="text" class="dataInput" id="fatherNameAdd" placeholder="Отчество">
            <input name="email" type="text" class="dataInput" id="emailAdd" placeholder="Email">
            <input name="password" type="text" class="dataInput" id="passwordAdd" placeholder="Пароль">
            <input name="phone" type="text" class="dataInput" id="phoneAdd" placeholder="Телефон">
            <input name="type" type="text" class="dataInput" id="typeAdd" placeholder="Тип">
            <button type="submit" id="addButton">Добавить</button>
        </form>
    </div>
    <div class="filter-container">
        <form id="filterForm">
            <input name="passport" type="text" class="dataInput" id="passportSearch" placeholder="Пасспорт">
            <input name="name" type="text" class="dataInput" id="nameSearch" placeholder="Имя">
            <input name="second_name" type="text" class="dataInput" id="surnameSearch" placeholder="Фамилия">
            <input name="third_name" type="text" class="dataInput" id="fatherNameSearch" placeholder="Отчество">
            <input name="email" type="text" class="dataInput" id="emailSearch" placeholder="Email">
            <input name="phone" type="text" class="dataInput" id="phoneSearch" placeholder="Телефон">
            <input name="type" type="text" class="dataInput" id="typeSearch" placeholder="Тип">
            <button type="submit" id="searchButton">Поиск</button>
        </form>
    </div>
    <div id="editModal" class="modal">
        <div class="modal-content">
          <span class="close-button">&times;</span>
          <h2>Edit Service</h2>
          <form id="editForm">
            <label for="employeePassport">Пасспорт:</label>
            <input type="text" name="passport"  id="employeePassport" placeholder="Пасспорт">
            <label for="employeeName">Имя:</label>
            <input type="text" name="name" id="employeeName" placeholder="Имя">
            <label for="employeeSecondName">Фамилия:</label>
            <input type="text" name="second_name" id="employeeSecondName" placeholder="Фамилия">
            <label for="employeeThirdName">Отчество:</label>
            <input type="text" name="third_name" id="employeeThirdName" placeholder="Отчество">
            <label for="employeeEmail">Email:</label>
            <input type="text" name="email" id="employeeEmail" placeholder="Email">
            <label for="employeePhone">Телефон:</label>
            <input type="text" name="phone" id="employeePhone" placeholder="Телефон">
            <label for="employeeType">Тип:</label>
            <input type="text" name="type" id="employeeType" placeholder="Тип">
            <button type="submit">Save Changes</button>
          </form>
        </div>
      </div>
    <div class="employee-list" id="employeeListContainer">
        <div id="employeeTableContainer">
            <table class="employee-table" id="employeeTable">
                <thead>
                    <tr>
                        <th width="15%">Passport</th>
                        <th width="15%">Email</th>
                        <th width="10%">Имя</th>
                        <th width="10%">Фамилия</th>
                        <th width="10%">Отчество</th>
                        <th width="10%">Телефон</th>
                        <th width="10%">Тип</th>
                        <th width="10%">Изменить</th>
                        <th width="10%">Удалить</th>
                    </tr>
                </thead>
                <tbody>
                    <% employees.forEach(employee => { %>
                        <tr>
                            <td width="15%"><%= employee.passport %></td>
                            <td width="15%"><%= employee.email %></td>
                            <td width="10%"><%= employee.name %></td>
                            <td width="10%"><%= employee.second_name %></td>
                            <td width="10%"><%= employee.third_name %></td>
                            <td width="10%"><%= employee.phone %></td>
                            <td width="10%"><%= employee.type %></td>
                            <td widht="10%"><button id="edt<%= employee._id %>">Изменить</button></td>
                            <td width="10%"><button class="redBtn" id="del<%= employee._id %>">Удалить</button></td>
                        </tr>
                      <% }); %>
                </tbody>
            </table>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/scripts/employees.js">
    </script>
</body>
</html>