<!-- На этой странице врач смотрит/создает кароточку животного(все приемы и анализы) -->
<!-- На этой странице врач добавляет результаты тестов к карточке животного -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Страница электронной карты</title>
    <link rel="stylesheet" href="/styles/css/animal_card.css">
    <link rel="stylesheet" href="/styles/css/basic_nav.css">
    <link rel="stylesheet" href="/styles/css/list.css">
    <link rel="stylesheet" href="/styles/css/bookings.css">
</head>
<body>
    <header>
        <!-- Navbar -->
        <nav>
            <ul>
                <li><a href="/doctors/<%= doctor._id %>/appointments">Приемы</a></li>
                <li><a href="/doctors/<%= doctor._id %>/find_pets">Поиск животного</a></li>
                <li><a href="/doctors/<%= doctor._id %>/schedule">Расписание записей</a></li>
                <li><a href="#">Выход</a></li>
            </ul>
        </nav>
    </header>
        <ul class="info">
            <li>Кличка - <%= animal.name %></li>
            <li>Название - <%= animal.type %></li>
            <li>Порода - <%= animal.breed %></li>
            <li>Пасспорт Животного - <%= animal.animal_passport %></li>
            <li>Возраст - <%= animal.age %></li>
        </ul>
        <hr>

        <h2>
            Данные о приемах
        </h2>
        <div id="appointments">
            <% appointments.forEach(appointment => { %>
            <div class="appointment">
                <p>Дата и время приема: <%= appointment.date %> <%= appointment.time %></p>
                <p>Принимающий врач: <%= appointment.doctor_full_name %></p>
                <p>Оказываемая услуга: <%= appointment.service_name %></p>
                <p>Статус: <%= appointment.status %></p>
                <a href="/doctors/<%= doctor._id %>/pets/<%= appointment.animal_id %>/card/<%= appointment.animal_card_page_id %>">Данные приема</a>
            </div>
            <% }); %>
        </div>
        <hr>
    
        <h2>Результаты анализов:</h2>
    
        
    
        <div id="petDetails">
            <h3>Результаты анализов для питомца:</h3>
            <div id="analysisResults">
            </div>
            <h3>Добавить новый анализ:</h3>
            <form>
                <input name="analysis_file" type="file" id="analysisFile">
                <input placeholder="Описание" name="analysis_description" type="text" id="analysisDescription">
                <input placeholder="Название" name="analysis_name" type="text" id="analysisName">
                <button>Прикрепить файл с результатами</button>
            </form>
        </div>
    </div>
    

    <script>
        function searchPet() {
        }
        function displayPetTests() {
        }

        function uploadAnalysis() {
        }
        function displayPetAppointments() {
        }
        function viewMore(index) {
        }
    </script>
</body>
</html>